absl-py==0.7.0
appdirs==1.4.3
astor==0.7.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
conllu==1.2.2
cssselect==1.0.3
cycler==0.10.0
deepcut==0.6.1.0
dill==0.2.9
fake-useragent==0.1.11
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
idna==2.8
JPype1==0.6.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.1
marisa-trie==0.7.5
Markdown==3.0.1
matplotlib==3.0.2
nltk==3.4
numpy==1.16.1
oauthlib==3.0.1
pandas==0.24.1
parse==1.11.1
Pillow==5.4.1
protobuf==3.6.1
pyee==5.0.0
pyparsing==2.3.1
pyppeteer==0.0.25
pyquery==1.4.0
PySocks==1.6.8
pythainlp==1.7.3
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requests-html==0.10.0
requests-oauthlib==1.2.0
scikit-learn==0.20.2
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tinydb==3.12.2
tqdm==4.31.1
tweepy==3.7.0
twitter-scraper==0.3.0
urllib3==1.24.1
w3lib==1.20.0
websockets==7.0
Werkzeug==0.14.1
wordcloud==1.5.0
wordcutpy==0.1.1
